.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh; /* Ocupar o corpo todo */
  margin: 0 auto; /* Alinhado ao centro */
  
  display: flex; /* ajudar no alinhamento - fica um do lado do outro */
  /*flex-direction: column;*/ /* Fica um abaixo do outro */
  align-items: center; /* alinhar os itens verticalmente ao centro */
  justify-content: center; /* alinhar os itens horizontalmente ao centr */
}

.register-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container .content section {
  width: 100%;
  max-width: 380px;
}

.register-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container .content form {
  width: 100%;
  max-width: 450px;
}

.register-container .content form input {
  margin-top: 8px; /* Separar os inputs */
}

.register-container .content form .input-group {
  display: flex;
}

/* Efetuar o espaçamento somente ao segundo input depois de outro input*/
.register-container .content form .input-group input + input {
  margin-left: 8px;
}